body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.first-image {
	float: left;
	height :360px;
}
.second-image {
	float: right;
	height :360px;
}
